body{
  background-color: #4da6ff;
}
h2{
  background-color: yellow;
  border: 2px solid black;
  width: 300px;
}
section:nth-child(1) h2:nth-child(3){
  margin: 50px;
}
section:nth-child(1) h2:nth-child(5){
  margin-left: 20%;
}
section:nth-child(1) h2:nth-child(7){
  margin: auto;
}

section:nth-child(2) h2:nth-child(3){
  padding: 50px;
}
section:nth-child(2) h2:nth-child(5){
  padding-left: 20%;
}

section:nth-child(3) h2{
  display: inline;
  margin: 20px;
  padding: 20px;
}
section:nth-child(4){
  overflow: auto;
}
section:nth-child(4) h2{
  width: auto;
  float: left;
}
section:nth-child(5){
  position: relative;
}
section:nth-child(5) h2{
  position: fixed;
  top: 50px;
  left: 50%;
  background-color: green;
}
section:nth-child(6)>span>h2{
  z-index: -2;
  background-color: blue;
  margin-left: 100px;
}
section:nth-child(6){
  z-index: 2;
}
section:nth-child(6)>h2{
  z-index: -1;
}
section:nth-child(6) h2{
  position: absolute;
  margin-top: -50px;
}